*{
  margin: 0;
  padding: 0;
  font-family: 'Advent Pro', sans-serif;
}

body{
  background: #fffbe8 url(img/sunflower.png) no-repeat left top;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.imgSize{
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header{
  background-color:#FFC107;
  border: 5px solid #FF9800;
  padding: 23px;
  border-radius: 22px;
}

.formFlexResize{
  display: block;
}

h1{
  font-size: 50px;
  font-size: 50px;
  color: #FFF;
  padding-bottom: 15px;
}

h3{
  font-size: 30px;
  padding: 10px 0;
  color: #545454;
}

h2{
  padding: 60px 0;
  color: #545454;
}

ul{
  width: 40%;
  color: #dd9f14;
  font-weight: bold;
  list-style: circle;
}

.quote{
  text-decoration: none;
}

input{
  height: 25px;
  margin-bottom: 15px;
  margin-right: 10px;
  border-radius: 5px;
  padding-left: 5px;
  border: 3px solid #ffc217;
}

.inputName{
  font-size: 20px;
  font-weight: bold;
  color: #FF9800;
}

.inputQuote{
  font-size: 18px;
}

.heartIcon{
  color: red;
}

button{
  width: 60px;
  height: 30px;
  background: #ffc217;
  border-radius: 5px;
  border: none;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
}

i{
  color:#545454;
  padding: 9px 5px;
}
